/* CSS3 mixin */
@mixin box-shadow($lr, $tb, $blur, $size, $color) {
    box-shadow: $lr $tb $blur $size $color;
    -moz-box-shadow: $lr $tb $blur $size $color;
    -webkit-box-shadow: $lr $tb $blur $size $color;
    -o-box-shadow: $lr $tb $blur $size $color;
}
@mixin border-radius($tl, $tr, $br, $bl) {
    border-radius: $tl $tr $br $bl;
    -moz-border-radius: $tl $tr $br $bl;
    -webkit-border-radius: $tl $tr $br $bl;
    -o-border-radius: $tl $tr $br $bl;
}
@mixin before($selector) {
	#{ $selector }::before {
		box-sizing: inherit;
		clear: both;
		content: "";
		display: table;
	}
}
@mixin after($selector) {
	#{ $selector }::after {
		box-sizing: inherit;
		clear: both;
		content: "";
		display: table;
	}
}

/* Individual mixin */
@mixin results-box-fix($border_color, $top) {
    border-color: transparent transparent $border_color;
    border-style: solid;
    border-width: 12px;
    content: "";
    height: 0;
    left: 40px;
    position: absolute;
    top: $top;
    width: 0;	
}
@mixin place-holder { font-size: 16px; color: #ccc; }

/* Search form */
.wpns-input-box {
	position: relative;

	input {
		box-sizing: border-box;
		height: 40px;
		padding: 0 10px;
	}
}
#wpns_search_icon {
	position: absolute;
	top: 10px;
	right: 10px;
}

/* list results */
.wpns-search-box {
	.results {
		ul {
			padding: 0;
			margin: 0;
			li {
				list-style: none;
				clear: both;

				.thumbnail {
					vertical-align: middle;
					margin-right: 5px;
					float: left;
				}
			}
			&.imagelist {
				.post-information {
					padding-top: 10px;
				}
			}
		}	
	}
}